// Define your reusable variables here

// Colors
$text-color: #333;
$background-color: #f5f5f5;

// Spacing
$spacing-unit: 16px;

// Fonts
$font-family-base: 'Arial', sans-serif;

// SCSS Variables
$primary-color: #0070f3;
$primary-dark: #0061d5;
$secondary-color: #7928ca;
$background-light: #ffffff;
$background-dark: #0a0a0a;
$text-light: #171717;
$text-dark: #ededed;
